.default {
    padding-top:50px;
    padding-bottom:50px;
}
.default .section-title,
.default .section-desc {
    text-align:center;
}
.default .section-title {
    font-size:30px;
    font-weight:bold;
}
.default .section-desc {
    font-size:18;
    color:#ccc;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:20px;
}
.default .section-body {
    margin:auto;
    max-width:1140px;
}
.default.light {
    background-color:#f7f7f7;
}
.default.light .section-title,
.default.light .section-body {
    color:#000;
}
.default.dark {
    background-color:#000;
}
.default.dark .section-title,
.default.dark .section-body {
    color:#fff;
}
.section-aboutus {
    display:flex;
}
.section-aboutus .aboutus--left {
    flex:1;
}
.section-aboutus .aboutus--right {
    
    text-align:center;
}
.section-aboutus .aboutus--right img {
    width:480px;
    box-shadow:5px 5px 10px #333;
}
.pp {
    font-size:18px;
}

@media screen and (max-width:425px) {
    .pp {
        display:flex;
        font-size:12px;
        flex-wrap:wrap;
    }
    .aboutus--right {
        width:425px;
    }
    .immg{
        width:150px;
    }
}