
.section_texto {
    display: center;
    text-align: center;
    justify-content: center
}
.section_texto-descricao {
    margin-top:10px;
    font-size:16px;
    color:#999;
    text-align: center;
}
.section_imagem {
    background-image: url("../imagens/foto9.jpg");
    background-repeat: no-repeat;
    width:570px;
    height:380px;
    margin:auto;
    background-position: center;
}
.sobre_botao {
    margin:40px;
}



@media screen and (max-width:1024px) {
    .section-aboutus {
        margin:10px;
        text-align:center;
        flex-wrap:wrap;
    }
    .aboutus--left{
        padding:10px;
    }
    .aboutus--right{
        padding-right:20px;
        margin:auto;
    }
    .button {
        margin:2em;
    }
}

@media screen and (max-width:425px){
    .section_texto {
        display:flex;
        flex-wrap:wrap;
    }
    .section_texto-descricao {
        display:flex;
        flex-wrap: wrap;
        padding:20px;
    }
    .section_imagem {
        display:center;
        width:380px;
        height:240px;
    }
}